# build artifacts
ebin
deps
erl_crash.dump
key
key.pub
oacd_office
rel/rpg_battlemap
*.config
app/rpg_battlemap/include/commit_ver.hrl

# run artifacts
*.log
Mnesia.*
app/rpg_battlemap/priv/rpgb_dets*

# test artifacts
.eunit

# doc artifacts
doc

# editor/ide files
*.swp
*.swo

# OS X file system
.DS_Store
