# build artifacts
ebin
deps
erl_crash.dump
key
key.pub
oacd_office
rel/rpg_battlemap
*.config
include/commit_ver.hrl
rpg_battlemap

# run artifacts
*.log
Mnesia.*

# test artifacts
.eunit

# doc artifacts
doc

# editor/ide files
*.swp
*.swo

# OS X file system
.DS_Store
