%% This file is simply the default configuration.
%% If you are comfortable editing erlang application configuration scripts
%% there is no harm in editing the file.
[{rpg_battlemap, [
	% Which callback module to use for getting data.
	{data_callback, rpgb_dets},

	% additional modules to start supervised
	% each entry is id, module, function, arguments and [Modules] entry
	{additional_modules, [
		{rpgb_dets, rpgb_dets, start_link, [], [rpgb_dets]}
	]},

	% enables the trace view for webmachine.
	{trace, "/tmp/wmtrace"},

	% webmachine
	{webmachine, [
		{log_dir, "priv/log"},
		{ip, "0.0.0.0"},
		{port, 9090}
	]},

	% boss_db settings
	{boss_db, [
		{adapter, mnesia},
		{cache_enable, false}
	]}%,

	% if you have memcache, you can enable this.
	%{boss_cache, [
	%	{adapter, memcached_bin},
	%	{cache_servers, [{"localhost", 9898, 10}]}
	%]}
]},

{'lager', [
	{handlers, [
		{lager_console_backend, [info,true]},
		{lager_file_backend, [
			{"debug.log", debug, 10485760, "$D0", 5}
		]}
	]},
	{crash_log, "crash.log"}
]},

{sasl, [
	{errlog_type, error} % disable SASL progress reports
]}].
