{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps, [
	{lager, "0.9.4", {git, "http://github.com/basho/lager.git", {tag, "0.9.4"}}},
	{webmachine, "1.9.*", {git, "https://github.com/basho/webmachine.git", {tag, "1.9.1"}}},
	{meck, "0.*", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
	{erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "master"}}},
	{openid, ".*", {git, "https://github.com/talklittle/erl_openid.git", {branch, "master"}}},
	{boss_db, "0.1.0", {git, "https://github.com/evanmiller/boss_db.git", {branch, "master"}}}
]}.

{edoc_opts, [{def, {web, "<b>Web Api </b>"}}]}.

{pre_hooks, [
	{clean, "./hooks.sh pre_clean"},
	{compile, "./hooks.sh pre_compile"},
	{eunit, "./hooks.sh pre_eunit"}
]}.
{post_hooks, [{compile, "./hooks.sh post_compile"}]}.

{eunit, [verbose]}.

{erlydtl_opts, [{source_ext, ".html"}]}.

% vim: ft=erlang
