<!DOCTYPE html>
<html>

<head>

	<link type="text/css" href="/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/contrib/css/persona-buttons.css" rel="stylesheet" />

	{% block eager_page_script %}
	{% endblock %}
	{% block page_style %}
	{% endblock %}

	<title>RPG Battle Map{% block title %}{% endblock %}</title>
</head>

<body>

	<div id="head">
		{% if user %}
			{% comment %}TODO change logout call to post or delete
			{% endcomment %}
			<span class="login">Welcome, {{ user.name }}.  <a href="/account/logout/">{% trans "Sign Off" %}</a></span>
		{% else %}
			Welcome!
		{% endif %}
	</div>

	<div id="main">
	{% block content %}

	{% endblock %}
	</div>

	<script type="text/javascript" src="/contrib/jquery.js"></script>
	<script type="text/javascript" src="https://login.persona.org/include.js"></script>
	{% block page_scripts %}
	{% endblock %}

</body>
</html>{% comment %}
{# -*- vim: set ft=htmldjango: -- vim modeline -*- #}{% endcomment %}
