<!DOCTYPE html>
<html>

<head>

	<link type="text/css" href="/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/contrib/css/persona-buttons.css" rel="stylesheet" />

	{% block eager_page_script %}
	{% endblock %}
	{% block page_style %}
	{% endblock %}

	<title>RPG Battle Map{% block title %}{% endblock %}</title>
</head>

<body>

	<div id="head">
		<h1 style="float:left;">RPG BattleMap</h1>{% if user %}
		<a id="signoutlink" href="javascript:void()" class="persona-button">
			<span>Welcome {{user.email}}! [Sign Out]</span>
		</a>{% endif %}
	</div>

	<div id="main">
	{% block content %}

	{% endblock %}
	</div>

	<script type="text/javascript">{% if user %}
		var currentUser = "{{user.email}}";{% else %}
		var currentUser = null;{% endif %}
		var loginUrl = "{{login_link}}";
		var logoutUrl = "{{logout_link}}";
	</script>
	<script type="text/javascript" src="/contrib/jquery.js"></script>
	<script type="text/javascript" src="https://login.persona.org/include.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>
	{% block page_scripts %}
	{% endblock %}

</body>
</html>{% comment %}
{# -*- vim: set ft=htmldjango: -- vim modeline -*- #}{% endcomment %}
