{% extends "base.html" %}

	{% block content %}
	{% if user %}
		<a id="signoutlink" href="javascript:void()" class="persona-button">
			<span>Sign Out</span>
		</a>
	{% else %}
		<a id="signinlink" href="javascript:void()" class="persona-button">
			<span>Sign in with your Email</span>
		</a>
	{% endif %}
	{% endblock %}
	
	{% block page_scripts %}
	<script type="text/javascript" src="/contrib/jquery.js"></script>
	<script type="text/javascript" src="/contrib/handlebars-1.0.rc.1.js"></script>
	<script type="text/javascript" src="/contrib/ember.js"></script>
	{% endblock %}
{% comment %}
{# -*- vim: set ft=htmldjango: -- vim modeline -*- #}{% endcomment %}
