{% extends "base.html" %}

{% block title %} - {{ map.name }} {% endblock %}

{% block content %}

<script type="text/x-handlebars" data-template-name="map">
<svg
	xmlns="http://www.w3.org/2000/svg" version="1.1"
	{% templatetag openvariable %} bindStyle background-color="content.background_color" height="viewHeight"{% templatetag closevariable %}
	{% templatetag openvariable %}action "clicked" {% templatetag closevariable %}>
	{% templatetag openvariable %}action "didit" on="scroll"{% templatetag closevariable %}>
	<defs>
		<pattern x="0" y="0" width="512" height="512" id="gridPattern"
			patternUnits="userSpaceOnUse"
			{% templatetag openvariable %}bindXMLAttr patternTransform="transformString"{% templatetag closevariable %}>{% for patternInfo in pattern_helper %}
			<rect
				x="{{ patternInfo.x }}"
				y="{{ patternInfo.y }}"
				width="32" height="32" fill-opacity="0"
				{% templatetag openvariable %}bindAttr stroke="content.gridline_color"{% templatetag closevariable %}
				{% templatetag openvariable %} bindAttr stroke-width="content.gridline_width" {% templatetag closevariable %}
				{% templatetag openvariable %} bindAttr stroke-opacity="map.grid_opacity" {% templatetag closevariable %} />{% endfor %}
		</pattern>
	</defs>

	<rect x="0" y="0" width="100%" height="100%" stroke-opacity="0"
		fill="url(#gridPattern)" style="pointer-events:none;" id="gridRect"/>
</svg>
</script>

{% endblock %}

{% block page_scripts %}

<script type="text/javascript" src="/contrib/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/contrib/bullet.js"></script>
<script type="text/javascript" src="/contrib/handlebars-1.0.rc.1.js"></script>
<script type="text/javascript" src="/contrib/ember.js"></script>
<script id="mapJson" type="application/json">
{{ map_json }}
</script>
<script type="text/javascript">
var RPGB = Ember.Application.create({ });

/****************************************************
* Bind an attribute, but set the view using setAttribute
****************************************************/

Ember.Handlebars.registerHelper('bindXMLAttr', function(options) {
	var fmt = Ember.String.fmt;
	var attrs = options.hash;

	Ember.assert("Specify at least one hash arguments to bindXMLAttra", !!Ember.keys(attrs).length);

	var view = options.data.view;
	var ret = [];
	var ctx = this;

  // Generate a unique id for this element. This will be added as a
  // data attribute to the element so it can be looked up when
  // the bound property changes.
  var dataId = ++jQuery.uuid;

  var attrKeys = Ember.keys(attrs);
  // For each attribute passed, create an observer and emit the
  // current value of the property as an attribute.
  attrKeys.forEach(function(attr) {
    var property = attrs[attr];

    Ember.assert(fmt("You must provide a String for a bound attribute, not %@", [property]), typeof property === 'string');

    var value = Em.get(ctx, property);

    Ember.assert(fmt("Attributes must be numbers, strings or booleans, not %@", [value]), value == null || typeof value === 'number' || typeof value === 'string' || typeof value === 'boolean');

    var observer, invoker;

    observer = function observer() {
      var result = Em.get(ctx, property);

      Ember.assert(fmt("Attributes must be numbers, strings or booleans, not %@", [result]), result == null || typeof result === 'number' || typeof result === 'string' || typeof result === 'boolean');

      var elem = view.$("[data-bindAttr-" + dataId + "='" + dataId + "']");

      // If we aren't able to find the element, it means the element
      // to which we were bound has been removed from the view.
      // In that case, we can assume the template has been re-rendered
      // and we need to clean up the observer.
      if (elem.length === 0) {
        Ember.removeObserver(ctx, property, invoker);
        return;
      }

			elem = elem[0];

      var currentValue = elem.getAttribute(attr);

      if (currentValue !== result) {
				elem.setAttribute(attr, result);
      }
    };

    invoker = function() {
      Ember.run.once(observer);
    };

    // Add an observer to the view for when the property changes.
    // When the observer fires, find the element using the
    // unique data id and update the attribute to the new value.
    Ember.addObserver(ctx, property, invoker);

    // Use the attribute's name as the value when it is YES
    if (value === true) {
      value = attr;
    }

    // Do not add the attribute when the value is false
    if (value !== false) {
			if(typeof value === 'number'){
      	ret.push(attr+'="'+value+'"');
			} else {
      	ret.push(attr+'="'+value+'"');
			}
    }
  }, this);

  // Add the unique identifier
  ret.push('data-bindAttr-' + dataId + '="' + dataId + '"');
  return new Ember.Handlebars.SafeString(ret.join(' '));
});

/****************************************************
* Bind an attribute to a specific style tag
****************************************************/

Ember.Handlebars.registerHelper('bindStyle', function(options) {
  var fmt = Ember.String.fmt;
  var attrs = options.hash;

  Ember.assert("You must specify at least one hash argument to bindStyle", !!Ember.keys(attrs).length);

  var view = options.data.view;
  var ret = [];
  var ctx = this;

  // Generate a unique id for this element. This will be added as a
  // data attribute to the element so it can be looked up when
  // the bound property changes.
  var dataId = ++jQuery.uuid;

  var attrKeys = Ember.keys(attrs);

  // For each attribute passed, create an observer and emit the
  // current value of the property as an attribute.
  attrKeys.forEach(function(attr) {
    var property = attrs[attr];

    Ember.assert(fmt("You must provide a String for a bound attribute, not %@", [property]), typeof property === 'string');

    var value = Em.get(ctx, property);

    Ember.assert(fmt("Attributes must be numbers, strings or booleans, not %@", [value]), value == null || typeof value === 'number' || typeof value === 'string' || typeof value === 'boolean');

    var observer, invoker;

    observer = function observer() {
      var result = Em.get(ctx, property);

      Ember.assert(fmt("Attributes must be numbers, strings or booleans, not %@", [result]), result == null || typeof result === 'number' || typeof result === 'string' || typeof result === 'boolean');

      var elem = view.$("[data-bindAttr-" + dataId + "='" + dataId + "']");

      // If we aren't able to find the element, it means the element
      // to which we were bound has been removed from the view.
      // In that case, we can assume the template has been re-rendered
      // and we need to clean up the observer.
      if (elem.length === 0) {
        Ember.removeObserver(ctx, property, invoker);
        return;
      }

      var currentValue = elem.css(attr);

      if (currentValue !== result) {
        elem.css(attr, result);
      }
    };

    invoker = function() {
      Ember.run.once(observer);
    };

    // Add an observer to the view for when the property changes.
    // When the observer fires, find the element using the
    // unique data id and update the attribute to the new value.
    Ember.addObserver(ctx, property, invoker);

    // Use the attribute's name as the value when it is YES
    if (value === true) {
      value = attr;
    }

    // Do not add the attribute when the value is false
    if (value !== false) {
			if(typeof value === 'number'){
      	ret.push('style="'+attr+':'+value+'px;"');
			} else {
      	ret.push('style="'+attr+':'+value+';"');
			}
    }
  }, this);

  // Add the unique identifier
  ret.push('data-bindAttr-' + dataId + '="' + dataId + '"');
  return new Ember.Handlebars.SafeString(ret.join(' '));
});

/****************************************************
* A base object to build auto commiting objects upon.
****************************************************/

RPGB.RestObject = Ember.Object.extend({
	all: [],
	_lockedCommits: 0,

	find: function(){
		if(! allUrl){
			return this.all;
		}

		var thisRef = this;
		var defer = $.ajax(allUrl);
		defer.success(function(data){
			var dataObjs = data.map(function(item){
				return thisRef.prototype.create(itme);
			});
			while(this.all.length){
				thisRef.all.removeAt(0);
			}
			thisRef.all.addObjects(dataObjs);
			return true;
		});

		return this.all;
	},

	load: function(url){
		var obj = this.prototype.create({
			'url': url
		});

		var defer = $.ajax(url, {
			context: obj
		});
		defer.success(function(data){
			var prop;
			for(prop in data){
				this.set(prop, data[prop]);
			}
		});
		return obj;
	},

	setUnknownProperty: function(key, value){
		console.log('boom!', arguments);
		var thisRef = this;
		this[key] = value;
		Ember.addObserver(thisRef, key, thisRef, 'propertyDidChange');
		this.propertyWillChange(this, key);
	},

	propertyDidChange: function(object, key){
		console.log('prop did change', arguments);
		if(this._lockedCommits){
			return;
		}

		dataObj = {};
		dataObj[key] = object.get(key);

		if(this.webSocket){
			this.webSocket.send(JSON.stringify({
				'type':this.type,
				'id':this.id,
				action:'update',
				'payload': dataObj
			}));
			return;
		}
		
		if(this.url) {
			var deferred = $.ajax(this.url, {
				'contentType':'application/json',
				'context':this,
				data:JSON.stringify(dataObj),
				dataType: 'application/json',
				type:'put'
			});
			return;
		}

		console.log('no remote connection set', this);
	},

	lockCommits: function(){
		this._lockedCommits++;
	},

	unlockCommits: function(){
		if(this._lockedCommits){
			this._lockedCommits--;
		}
	}
});

// base grid mvc

RPGB.MapView = Ember.View.extend({
	templateName: 'map',
	content: null,
	viewHeight: '100%',
	zoom: 1,
	panX: 0,
	panY: 0,

	transformString: function(){
		return 'translate(' + this.get('panX') + ' ' + this.get('panY') + ') scale(' + this.get('zoom') + ')';
	}.property('zoom','panX','panY'),

	init: function(){
		window.mapViewThing = this;
		var thisRef = this;
		$(window).resize(function(){
			thisRef.windowResized();
		});
	},

	didInsertElement: function(){
		this.windowResized();
		// bind events
		var thisRef = this;
		this.$().mousewheel(function(ev, delta){
			if(isNaN(delta)){
				delta = ev.originalEvent.wheelDelta;
			}
			if(delta > 0){
				delta = 0.1;
			} else {
				delta = -0.1;
			}
			var oldZoom = thisRef.get('zoom');
			var newZoom = oldZoom + delta;
			if(newZoom < 0.1){
				newZoom = 0.1;
			} else if(newZoom > 3){
				newZoom = 3;
			}
			thisRef.set('zoom', newZoom);
		});
	},

	windowResized: function(){
		var headerHeight = $('#head').height();
		var toolbarHeight = $('#tools').height();
		var guessHeight = window.innerHeight - (headerHeight + toolbarHeight + 28 + 5);
		console.log('guessed height', guessHeight);
		this.set('viewHeight', guessHeight + 'px');
	},

	clicked:function(){
		console.log('twas clicked');
	}
});

/***
* code that does stuff
***/

RPGB.mapController = RPGB.RestObject.create({});

var mapJson = JSON.parse($('#mapJson').text());
var prop;
RPGB.mapController.lockCommits();
for(prop in mapJson){
	RPGB.mapController.set(prop, mapJson[prop]);
}
RPGB.mapController.unlockCommits();

RPGB.currentMapView = RPGB.MapView.create({
	content: RPGB.mapController
});

RPGB.currentMapView.appendTo('#main');

</script>

{% endblock %}
{% comment %}
{# -*- vim: set ft=htmldjango: -- vim modeline -*- #}{% endcomment %}
