{% extends "base.html" %}

{% block title %} - {{ map.name }} {% endblock %}

{% block content %}

<div id="toolbar"></div>

<script type="text/x-handlebars" data-template-name="map">
<svg
	xmlns="http://www.w3.org/2000/svg" version="1.1"
	{% templatetag openvariable %} bindStyle background-color="content.background_color" height="viewHeight"{% templatetag closevariable %}
	{% templatetag openvariable %}action "clicked" {% templatetag closevariable %}>
	{% templatetag openvariable %}action "didit" on="scroll"{% templatetag closevariable %}>
	<defs>
		<pattern x="0" y="0" width="512" height="512" id="gridPattern"
			patternUnits="userSpaceOnUse"
			{% templatetag openvariable %}bindXMLAttr patternTransform="transformString"{% templatetag closevariable %}>{% for patternInfo in pattern_helper %}
			<rect
				x="{{ patternInfo.x }}"
				y="{{ patternInfo.y }}"
				width="32" height="32" fill-opacity="0"
				{% templatetag openvariable %}bindAttr stroke="content.gridline_color"{% templatetag closevariable %}
				{% templatetag openvariable %} bindAttr stroke-width="content.gridline_width" {% templatetag closevariable %}
				{% templatetag openvariable %} bindAttr stroke-opacity="content.grid_opacity" {% templatetag closevariable %} />{% endfor %}
		</pattern>
	</defs>

	<rect x="0" y="0" width="100%" height="100%" stroke-opacity="0"
		fill="url(#gridPattern)" style="pointer-events:none;" id="gridRect"/>
</svg>
</script>

{% endblock %}

{% block page_scripts %}

<script type="text/javascript" src="/contrib/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/contrib/bullet.js"></script>
<script type="text/javascript" src="/contrib/handlebars-1.0.rc.1.js"></script>
<script type="text/javascript" src="/contrib/ember.js"></script>
<script type="text/javascript" src="/js/bind_extensions.js"></script>
<script type="text/javascript" src="/js/rpgb_core.js"></script>
<script type="text/javascript" src="/js/rpgb_gridPropertiesView.js"></script>
<script type="text/javascript" src="/js/rpgb_mapView.js"></script>
<script type="text/javascript" src="/js/rpgb_layer_views.js"></script>
<script id="mapJson" type="application/json">
{{ map_json }}
</script>
<script type="text/javascript">

/***
* code that does stuff
***/

RPGB.mapController = RPGB.RestObject.create({});

var mapJson = JSON.parse($('#mapJson').text());
var prop;
RPGB.mapController.lockCommits();
for(prop in mapJson){
	RPGB.mapController.set(prop, mapJson[prop]);
}
RPGB.mapController.unlockCommits();

RPGB.currentGridView = RPGB.GridPropertiesView.create({
	content: RPGB.mapController
});

RPGB.currentMapView = RPGB.MapView.create({
	content: RPGB.mapController
});

RPGB.layersToolbar = RPGB.LayerListView.create({
	content: RPGB.mapController.get('layersTopToBottom')
});

RPGB.currentGridView.appendTo('#toolbar');
RPGB.layersToolbar.appendTo('#toolbar');
RPGB.currentMapView.appendTo('#main');

</script>

{% endblock %}
{% comment %}
{# -*- vim: set ft=htmldjango: -- vim modeline -*- #}{% endcomment %}
