#leftColumnItems input[type="color"] {
	width: 105px;
}

fieldset
{
	border: 1px solid #ccc;
	padding: 5px;
}

fieldset legend
{
	font-weight: bold;
	margin-left: 5px;
}

fieldset p
{
	margin-top: 2px;
	margin-bottom: 2px;
}
