#leftColumnItems input
{
	border: 2px solid #ddd;
	border-radius: 4px;
	padding-left: 2px;
}

#leftColumnItems input[type="text"]
{
	width: 137px;
}

#leftColumnItems input[type="number"]
{
	width: 48px;
}


div.colorSelector {
	margin-right: 5px;
	position: relative;
	top: 5px;
}

fieldset
{
	border: 1px solid #ccc;
	padding: 5px;
}

fieldset legend
{
	font-weight: bold;
	margin-left: 5px;
}

fieldset p
{
	margin-top: 2px;
	margin-bottom: 2px;
}
