<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/contrib/css/smoothness/jquery-ui.css" rel="stylesheet" />
	<script type="text/javascript" src="/contrib/jquery.js"></script>
	<script type="text/javascript" src="/contrib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/contrib/jquery.mousewheel.min.js"></script>
	{% block page_scripts %}
	<script type="text/javascript" src="/contrib/raphael-min.js"></script>
	<script type="text/javascript" src="/js/battlemap.js"></script>
	{% endblock %}
	<title>RPG Battle Map{% block title %}{% endblock %}</title>
	{% block page_style %}
	{% endblock %}
</head>
<body>
<div id="head">
<form id="login" action="/account/login/" method="post">
	<input name="openid" placeholder="{% trans "OpenID" %}" />
	<input type="submit" value="{% trans "Login" %}" />
</form>
</div>
<div id="main">
{% block content %}
	<div id="leftColumn">
		<h3><a href="#">Combatant</a></h3>
		<div id="combatantInfo">
			<div object-property="color" display-attr="style" style-display="border-color" style="float: left; width: 48px; height: 48px; border-width: 3px; margin:3px; border-style:solid;">
			<img object-property="image" display-attr="src" style="width:100%; height: 100%;" />
		</div>
			<p object-property="name">&nbsp;</p>
			<p>cell
				<span object-property="cellX">&nbsp;</span>, <span object-property="cellY">&nbsp;</span>
			</p>
			<p id="combatantConditions">&nbsp;</p>
		</div>
		<h3><a href="#">Turn Order</a></h3>
		<ul id="combatantList">
		</ul>
		<h3><a href="#">New Combatant</a></h3>
		<div id="addCombatant">
			<form name="addCombatant">
				<p>
					<input name="name" placeholder="Combatant Name" />
				</p>
				<p>
					<label>Starting Position</label>
					<input style="width: 4em;" name="cellX" placeholder="X" type="number" />,
					<input style="width: 4em;" name="cellY" placeholder="Y" type="number" /></p>
				<p>
					<label for="color">Color</label>
					<input name="color" placeholder="blue" type="color" />
				</p>
				<p>
					<label for="initiative">Initiative</label>
					<input name="initiative" placeholder="10" type="number" />
				</p>
				<p>
					<label for="size">Size</label>
					<input name="size" value="1" type="number" />
				</p>
				<p>
					<input name="create" type="submit" value="Add Combatant" />
				</p>
			</form>
		</div>
		<h3><a href="#">Zone List</a></h3>
		<div id="zoneEditor">
			<ul id="zoneList">
			</ul>
			<form name="zoneEditor" action="javascript:void(0)">
				<p>
					<label for="editZonesToggle">Enabled Zone Edits</label>
					<input id="editZonesToggle" type="checkbox" />
				</p>
				<p>
					<label>Top Left Corner</label>
					<input style="width: 4em;" name="cellX" placeholder="X" type="number" />, 
					<input style="width: 4em" name="cellY" placeholder="Y" type="number" />
				</p>
				<p>
					<label for="color">Color</label>
					<input name="color" />
				</p>
				<p>
					<label for="type">Description</label>
					<input name="type" />
				</p>
				<p>
					<label>Raw Cell Data</label>
					<textarea name="cellData" rows="7"></textarea>
				</p>
				<p>While editing is enabled, you can add a new point connected to 
the most recent point by clicking.  To remove a point, secondary (right) 
click on it.  To add a point on an existing line, secondary click on the
line.  To move a point, drag it to the desired position.
				</p>
				<p>
					<button>Save</button>
				</p>
			</form>
		</div>
		<h3><a href="#">New Zone</a></h3>
		<div>
			<form id="newZone" name="newZone">
				<p>New Zone</p>
				<p>
					<label for="size">Edge Size</label>
					<input type="number" name="size" />
				</p>
				<p>
					<label for="shape">Shape</label>
					<select name="shape">
						<option value="square">Square</option>
						<option value="octogon">Octogon</option>
					</select>
				</p>
				<p>
					<label for="type">Description; ground ends with 'terrain'</label>
					<input name="type" />
				</p>
				<p>
					<label for="color">Color</label>
					<input name="color" />
				</p>
				<p>
					<input type="submit" value="Create" />
				</p>
			</form>
		</div>
	</div>
	<div id="rightColumn" class="ui-corner-all">
		<div id="drawingBoard">
			<canvas id="canvasBoard"></canvas>
		</div>
	</div>
</div>
<script type="text/javascript">
	function sanatizeInt(given, defVal){
		if(defVal == undefined){
			defVal = 0;
		}
		var retVal = parseInt(given);
		if(isNaN(retVal)){
			return defVal;
		}
		return retVal;
	}

	function cellListToString(cells){
		var cellStr = cells.map(function(xy){
			return xy[0] + ',' + xy[1];
		});
		return cellStr.join('\n');
	}

	function updateZoneList(){
		$('#zoneList').empty();
		for(var i = 0; i < zoneList.length; i++){
			$('#zoneList').append('<li zoneIndex="' + i + '">' + zoneList[i].type + '</li>');
		}
	}

	$().ready(function(){
		$('#combatantList').sortable({
			update: function(event, ui) {
				var combatant = combatants[$(ui.item).text()];
				var combatantList = $('#combatantList').sortable("toArray");
				var index = combatantList.indexOf(combatant.name);

				if (index == 0)
				{
					combatant.initiative = parseInt(combatants[combatantList[1]].initiative) + 1;
				}
				else if (index == (combatantList.length - 1))
				{
					combatant.initiative = parseInt(combatants[combatantList[index - 1]].initiative) - 1;
				}
				else
				{
					var higher = parseInt(combatants[combatantList[index - 1]].initiative);
					var lower = parseInt(combatants[combatantList[index + 1]].initiative);

					combatant.initiative = lower + ((higher - lower) / 2);
				}
			}
		});

		window.battleMap = new BattleMap('drawingBoard', 'canvasBoard', {});
		function resizeBattleMap() {
			var headerHeight = $('#head').height();
			var guessheight = window.innerHeight - (headerHeight + 20) ;
			$('#drawingBoard').height(guessheight);
			var newHeight = $('#drawingBoard').height();
			var newWidth = $('#drawingBoard').width();
			$('#canvasBoard').attr("width", newWidth)
			$('#canvasBoard').attr("height", newHeight);

			window.battleMap.drawGrid();
		}

		$(window).resize(resizeBattleMap);

		$('#drawingBoard').mousewheel(function(ev, delta){
			var sensitivity = 10;
			if(isNaN(delta)){
				delta = ev.originalEvent.wheelDelta;
			}
			delta = (delta / 100) * sensitivity;
			battleMap.setZoom(battleMap.zoom + delta);
			return false;
		});

		resizeBattleMap();
		window.battleMap.drawGrid();

		window.zoneList = [];
		window.combatants = {};

		window.insertCombatant = function(combatant) {
			var combatantList = $('#combatantList').sortable("toArray");
			combatants[combatant.name] = combatant;

			// Sanatize intiative
			sanatizeInit(combatant);

			var added = false;
			//TODO: This would be faster as a binary search
			$(combatantList).each(function(index) {
				var item = combatantList[index];

				// This will always add to the bottom of same-initiative
				if (combatants[item].initiative < combatant.initiative)
				{
					$(generateInitListItem(combatant)).insertBefore('#' + item);
					added = true;

					// Break out of the .each()
					return false;
				}
			});

			// We go at the bottom of the list.
			if (added == false)
			{
				$('#combatantList').append(generateInitListItem(combatant));
			}
		}

		window.generateInitListItem = function(combatant)
		{
			var style = 'style="box-shadow: inset 0 0 10px 2px ' + combatant.color + ';"';
			return '<li id="' + combatant.name + '" class="combatant"' + style + '>' + combatant.name + '</li>';
		}

		// Makes sure that instead of a string, we are dealing with a real number for initiative.
		window.sanatizeInit = function(combatant){
			var init = parseInt(combatant.initiative);
			if (isNaN(init)) {
				combatant.initiative = 0;
			} else {
				combatant.initiative = init;
			}
		}

		$('#addCombatant form').submit(function(){
			var creationObj = {};
			var newCombatant;
			for(var i = 0; i < this.elements.length; i++){
				creationObj[this.elements[i].name] = this.elements[i].value;
			}
			creationObj.onMouseOver = function(){
				datadump(newCombatant, '#combatantInfo');
				$('#combatantConditions').html(newCombatant.conditions.join(", "));
			}
			newCombatant = new Combatant(window.battleMap, creationObj);
			insertCombatant(newCombatant);
			return false;
		});

		$('#leftColumn').height($('#drawingBoard').height()).accordion({
			autoHeight:false
		});

		$('#newZone').submit(function(){
			var creationObj = {};
			var newZone;
			for(var i = 0; i < this.elements.length; i++){
				creationObj[this.elements[i].name] = this.elements[i].value;
			}
			var size = sanatizeInt(this.size.value, 1);
			var cells;
			if(this.shape.value == "square"){
				cells = CombatZone.makeSquare(size);
			} else if(this.shape.value == "octogon"){
				cells = CombatZone.makeOctogon(size);
			} else {
				cells = [[0,0],[0,1],[1,1],[0,0]];
			}
			creationObj.cells = cells;
			newZone = new CombatZone(battleMap, creationObj);
			zoneList.push(newZone);
			$('#zoneList').append('<li zoneIndex="' + (zoneList.length - 1) + '">' + newZone.type + '</li>');
			$('#zoneList li:last-child').click(function(){
				var zoneListInd = this.getAttribute('zoneIndex');
				var zone = zoneList[zoneListInd];
				var editorForm = $('#zoneEditor form')[0];
				editorForm.cellX.value = zone.startCell[0];
				editorForm.cellY.value = zone.startCell[1];
				editorForm.color.value = zone.color;
				editorForm.type.value = zone.type;
				editorForm.cellData.value = cellListToString(zone.cells);
			});
			return false;
		});
	});
</script>
{% endblock %}
</body>
