<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/contrib/jquery.js"></script>
	<script type="text/javascript" src="/contrib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/contrib/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/contrib/raphael-min.js"></script>
	<script type="text/javascript" src="/js/battlemap.js"></script>
	<link type="text/css" src="/css/base.css" rel="stylesheet" />
	<title>RPG Battle Map{% block title %}{% endblock %}</title>
	<style type="text/css" rel="/contrib/css/smoothness/jquery-ui.css"></style>
	<style type="text/css">
		#drawingBoard {
			height:70%;
			position:relative;
		}
		#canvasBoard {
			position:absolute;
			top:0;
			left:0;
			pointer-events: none;
		}
		#combatantList {
			list-style:none;
		}
		#combatantInfo {
		}
		form label{
			font-size:xx-small;
			color: gray;
			display:block;
		}
		form p{
			margin: 8px 0 8px 0;
		}
		#leftColumn {
			float:left;
			width:200px;
		}
		#rightColumn {
			margin-left:200px;
		}
	</style>
</head>
<body>
<div id="head">
<form action="/account/login/" method="post">
	<input name="openid" placeholder="{% trans "OpenID" %}" />
	<input type="submit" value="{% trans "Login" %}" />
</form>
</div>
<div id="main">
{% block content %}
	<div id="leftColumn">
		<div id="combatantInfo">
			<div object-property="color" display-attr="style" style-display="border-color" style="float: left; width: 48px; height: 48px; border-width: 3px; margin:3px; border-style:solid;">
			<img object-property="image" display-attr="src" style="width:100%; height: 100%;" />
		</div>
			<p object-property="name">&nbsp;</p>
			<p>cell
				<span object-property="cellX">&nbsp;</span>, <span object-property="cellY">&nbsp;</span>
			</p>
			<p id="combatantConditions">&nbsp;</p>
		</div>
		<ul id="combatantList">
			<li>Combatant One</li>
			<li>Combatant Two</li>
		</ul>
		<div id="addCombatant">
			<form name="addCombatant">
				<p>
					<input name="name" placeholder="Combatant Name" />
				</p>
				<p>
					<label>Starting Position</label>
					<input style="width: 4em;" name="cellX" placeholder="X" type="number" />, 
					<input style="width: 4em;" name="cellY" placeholder="Y" type="number" /></p>
				<p>
					<label for="color">Color</label>
					<input name="color" placeholder="blue" type="color" />
				</p>
				<p>
					<label for="initiative">Initiative</label>
					<input name="initiative" placeholder="10" type="number" />
				</p>
				<p>
					<label for="size">Size</label>
					<input name="size" value="1" type="number" />
				</p>
				<p>
					<input name="create" type="submit" value="Add Combatant" />
				</p>
			</form>
		</div>
	</div>
	<div id="rightColumn">
		<div id="drawingBoard">
			<canvas id="canvasBoard"></canvas>
		</div>
	</div>
</div>
<script type="text/javascript">
	$().ready(function(){
		window.battleMap = new BattleMap('drawingBoard', 'canvasBoard', {});
		function resizeBattleMap() {
			var headerHeight = $('#head').height();
			var guessheight = window.innerHeight - (headerHeight + 20) ;
			$('#drawingBoard').height(guessheight);
			var newHeight = $('#drawingBoard').height();
			var newWidth = $('#drawingBoard').width();
			$('#canvasBoard').attr("width", newWidth)
			$('#canvasBoard').attr("height", newHeight);
			window.battleMap.drawGrid();
		}

		$(window).resize(resizeBattleMap);

		$('#drawingBoard').mousewheel(function(ev, delta){
			if(isNaN(delta)){
				delta = ev.originalEvent.wheelDelta;
			}
			delta = delta / 100;
			battleMap.setZoom(battleMap.zoom + delta);
			return false;
		});

		resizeBattleMap();
		window.battleMap.drawGrid();

		window.combatantList = [];

		$('#addCombatant form').submit(function(){
			var creationObj = {};
			var newCombatant;
			for(var i = 0; i < this.elements.length; i++){
				creationObj[this.elements[i].name] = this.elements[i].value;
			}
			creationObj.onMouseOver = function(){
				datadump(newCombatant, '#combatantInfo');
				$('#combatantConditions').html(newCombatant.conditions.join(", "));
			}
			newCombatant = new Combatant(window.battleMap, creationObj);
			combatantList.push(newCombatant);
			combatantList.sort(Combatant.sortByInitiative);
			return false;
		});
	});
</script>
{% endblock %}
</body>
