{% extends "base.html" %}

{% block page_scripts %}
	<link type="text/css" href="/css/editor.css" rel="stylesheet" />
	<script type="text/javascript" src="/contrib/jquery.multi-accordion.js"></script>
	<script type="text/javascript" src="/js/editor.js"></script>
{% endblock %}

{% block left_column_items %}
	<h3><a href="#">Load</a></h3>
	<div id="savedMapsList">
	</div>

	<h3><a href="#">Tools</a></h3>
	<div>
		<p>
			<button name="splitPoints" id="splitPoints">+</button>
			<button name="delPoints" id="delPoints">-</button>
		</p>
		<p>
			<button name="makeLinePoint" id="makeLinePoint">L</button>
			<button name="makeMovePoint" id="makeMovePoint">M</button>
			<button name="makeClosePoint" id="makeClosePoint">Z</button>
		</p>
	</div>

	<h3><a href="#">Grid Properties</a></h3>
	<div><form action="javascript:void(0);" id="editGridProperties">
		<p>
			<a href="" object-property="url" display-attr="href">
				<span object-property="url">&nbsp;</span>
			</a>
		</p>
		<p>
			<div class="colorSelector grid"><div style="background-color: #0000ff"></div></div>
			<label for="grid_color">Grid Color</label>
			<input id="grid_color" name="grid_color" type="color" object-property="gridlineColor" display-attr="value" />
		</p>

		<p>
			<label for="grid_alpha">Alpha</label>
			<input type="number" step="0.1" min="0.0" max="1.0" id="grid_alpha" name="grid_alpha" object-property="gridOpacity" display-attr="value" />
			<label for="grid_stroke">Stroke</label>
			<input type="number" step="0.1" min="0.0" id="grid_stroke" name="grid_stroke" object-property="gridStroke" display-attr="value" />
		</p>

		<p>
			<div class="colorSelector map"><div style="background-color: #0000ff"></div></div>
			<label for="map_color">Map Color</label>
			<input id="map_color" name="map_color" type="color" object-property="backgroundColor" display-attr="value" />
		</p>
	</form></div>

	<h3><a href="#">Zone Properties</a></h3>
	<div><form action="javascript:void(0);" id="zoneEditor">
		<p>
			<label for="zone_name">Zone Name</label>
			<input id="zone_name" name="zone_name" type="text" object-property="name" display-attr="value" />
		</p>
		<p>
			<div class="colorSelector zone"><div style="background-color: #0000ff"></div></div>
			<label for="zone_color">Zone Color</label>
			<input id="zone_color" name="zone_color" type="color" object-property="strokeColor" display-attr="value" />
		</p>

		<p>
			<label for="zone_alpha">Alpha</label>
			<input type="number" step="0.1" min="0.0" max="1.0" id="zone_alpha" name="zone_alpha" object-property="strokeOpacity" display-attr="value" />
		</p>

		<p>
			<label for="zone_stroke">Stroke</label>
			<input type="number" step="0.1" min="0.0" id="zone_stroke" name="zone_stroke" object-property="strokeWidth" display-attr="value" />
		</p>

		<p>
			<div class="colorSelector fill"><div style="background-color: #0000ff"></div></div>
			<label for="fill_color">Fill Color</label>
			<input id="fill_color" name="fill_color" type="color" object-property="color" display-attr="value" />
		</p>

		<p>
			<label for="zoneZIndex">Paint Order and Layer</label>
			<input id="zoneZIndex" name="zIndex" type="number" step="1" object-property="zIndex" display-attr="value"/>
			<select id="zoneLayer" name="layer" object-property="layer" display-attr="property" display-property="value">
				<option value="ground">Ground</option>
				<option value="sky">Sky</option>
			</select>
		</p>

		<p>
			<label for="zoneFillRule">Fill Style</label>
			<select id="zoneFillRle" name="fillrule" object-property="fillRule" display-attr="property" display-property="value">
				<option value="evenodd">Easy Holes</option>
				<option value="nonzero">Mostly Solid</option>
			</select>
		</p>

		<p>
			<label for="zoneGappiness">&nbsp;</label>
			<input type="checkbox" name="gappy" id="zoneGappiness" object-property="gappy" display-attr="checked" />Expect Gaps in Walls
		</p>
	</form></div>

	<h3><a href="#">Zones</a></h3>
	<div>
		<ul id="zoneList"></ul>
	</div>
{% endblock %}

{# -*- vim: set ft=htmldjango: -- vim modeline -*- #}
