{sys, [
       {lib_dirs, ["../deps", "../app/", ".."]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "rpg_battlemap", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         lager,
         cowboy,
         rpg_battlemap
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "rpg_battlemap"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                           "^erts.*/info", "^erts.*/man",
                           "^erts.*/lib", "^erts.*/include",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, rpg_battlemap, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, ibrowse, [{incl_cond, include}]},
       {app, openid, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, bullet, [{incl_cond, include}]},
       {app, rec2json, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
			 {app, erlydtl, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
			 {app, public_key, [{incl_cond, include}]}
      ]}.

{target_dir, "rpg_battlemap"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/rpg_battlemap", "bin/rpg_battlemap"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/rpg_battlemap.cmd", "bin/rpg_battlemap.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
