[
{rpg_battlemap, [
	% {listen_host, '_'},
	% {hostname, <<"localhost">>},
	% {port, 9090},
	% {listeners, 10},
	% {keyfile, priv_dir ++ "/key"},
	% {cerfile, priv_dir ++ "/rpgb.crt"},
	% {protocol, https},
	{data_callback, rpgb_dets},
	{additional_modules, [
		{rpgb_dets, rpgb_dets, start_link, [], [rpgb_dets]}
	]}
]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

